body {
     font-family: Arial;
     font-size: 12px;
     line-height: 1.3em;
     margin: 0;
}

.container {
	width: 80%;
	margin: auto;
	overflow: hidden;
}

#mainHeader {
	background: #333333;
	color: white;
	padding-bottom: 0px;
}

#mainNav {
	background: #CCC;
	color: black;
	position: sticky;
	top: 0px;
}

#mainNav ul {
	padding: 3px;
	margin: 3px;
	list-style: none;
}

#mainNav li {
	display: inline;
	padding: 5px 90px;
}

#mainNav a {
	color: #333;
	text-decoration: none;
	font-size: 17px;
}

#mainNav li:hover {
	background: #aaa;
}

table {
	border-top: 1px solid black;
	border-right: 1px dotted black;
    border-left: 1px dotted black;
    border-bottom: 1px dashed black;
    border: 1px solid black;
    padding-top: 1px;
    padding-right: 1px;
    padding-left: 1px;
    padding-bottom: 0px;
}

#maimFooter {
	background-color: #333333;
	color: #FFF;
	text-align: center;
	padding: 1px;
	margin-top: 1px;
}
